@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  touch-action: pan-x pan-y;
  height: 100%;
}

input[type="text"] {
  border: 1px solid #0167ff;
  border-radius: 20px;
  height: 45px;
}
input[type="email"] {
  border: 1px solid #0167ff;
  border-radius: 20px;
  height: 45px;
}
input[type="password"] {
  border: 1px solid #0167ff;
  border-radius: 20px;
  height: 45px;
}

body {
  background: #c7d1de;
  scroll-behavior: smooth;
  height: 100%;
  text-rendering: optimizeSpeed;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
