@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  touch-action: pan-x pan-y;
  height: 100%;
}

input[type="checkbox"] {
  accent-color: #14a2b8;
}
/* input[type="text"] {
  border: 1px solid #14a2b8;
  border-radius: 20px;
  height: 45px;
}
input[type="number"] {
  border: 1px solid #14a2b8;
  border-radius: 20px;
  height: 45px;
}
input[type="email"] {
  border: 1px solid #14a2b8;
  border-radius: 20px;
  height: 45px;
}
input[type="password"] {
  border: 1px solid #14a2b8;
  border-radius: 20px;
  height: 45px;
} */

revogr-attribution {
  display: none !important;
}

.ql-container {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.ql-editor {
  min-height: 12em;
  max-height: 12em;
}

.ql-toolbar {
  background-color: #efefef !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 0px solid #b0b0b0 !important;
}

body {
  background: #f5f7fa;
  scroll-behavior: smooth;
  height: 100%;
  text-rendering: optimizeSpeed;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-track {
  background: #d2ebf0; /* primary-light */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #14a2b8; /* primary */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #118a9f; /* чуть темнее primary */
}
